{% extends 'layout.html' %} {% block navbar %}
<a class="navbar-brand" href="{{ url_for('home') }}">
  <img
    src="../static/images/logo.png"
    alt="logo_Eventify"
    style="width: 220px; padding-left: 25px"
    loading="lazy"
  />
</a>
<button
  class="navbar-toggler"
  type="button"
  data-toggle="collapse"
  data-target="#navbarNav"
  aria-controls="navbarNav"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
  </ul>
</div>
{% endblock %} {% block content %}
<section>
  <div class="events-section" style="margin-left: 20px; margin-right: 20px">
    <h2 class="text-center">All Events</h2>
    <div class="row">
      {% for event in events %}
      <div class="col-md-4 mb-4">
        <form
          action="{{ url_for('show_events') }}"
          method="GET"
          class="archive-form"
        >
          <div class="card" style="cursor: pointer">
            {% if event.thumbnail %}
            <img
              src="{{ url_for('static', filename='images/thumbnail_pics/' + event.thumbnail) }}"
              class="card-img-top"
              alt="event_image"
            />
            {% else %}
            <img
              src="https://via.placeholder.com/350x200"
              class="card-img-top"
              alt="event_image"
            />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ event.event_name }}</h5>
              <p class="card-text">{{ event.event_description }}</p>
              <p class="card-text">Start Date: {{ event.event_date }}</p>
              <p class="card-text">End Date: {{ event.event_end }}</p>
              <p class="card-text">Location: {{ event.event_location }}</p>
              <p class="card-text">Organizer: {{ event.author.username }}</p>
              <div>
                <button type="submit" class="btn btn-warning mt-2">
                  See More
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %} {% block extra_js %}
<script>
  $(document).ready(function () {
    // Add dashboard-top-section class to top-section
    $('.top-section').addClass('events-top-section');
  });
</script>
{% endblock %}
