{% extends 'layout.html' %} {% block navbar %}
<a class="navbar-brand" href="{{ url_for('home') }}">
  <img
    src="../static/images/logo.png"
    alt="logo_Eventify"
    style="width: 220px; padding-left: 25px"
    loading="lazy"
  />
</a>
<button
  class="navbar-toggler"
  type="button"
  data-toggle="collapse"
  data-target="#navbarNav"
  aria-controls="navbarNav"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
  </ul>
</div>
{% endblock %} {% block content %}
<section>
  <div class="events-section" style="margin-left: 20px; margin-right: 20px">
    <h2 class="text-center">All Events</h2>
    <div class="row">
      {% for event in events %}
      <div class="col-md-4 mb-4">
          <div class="card" style="cursor: pointer">
            {% if event.thumbnail %}
            <img
              src="{{ url_for('static', filename='images/thumbnail_pics/' + event.thumbnail) }}"
              class="card-img-top"
              alt="event_image"
            />
            {% else %}
            <img
              src="https://via.placeholder.com/350x200"
              class="card-img-top"
              alt="event_image"
            />
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ event.event_name }} <span class="text-muted">at {{ event.event_location }}</span></h5>
                <div>
                    <button type="button" class="btn btn-info mt-2 more-information-btn">Show Details</button>
                </div>
                <div class="additional-info mt-3" style="display: none;">
                    <p class="card-text"><strong>Description:</strong> {{ event.event_description }}</p>
                    <p class="card-text"><strong>Location:</strong> {{ event.event_location }}</p>
                    <p class="card-text"><strong>Start Date:</strong> {{ event.event_date }}</p>
                    <p class="card-text"><strong>End Date:</strong> {{ event.event_end }}</p>
                    <p class="card-text"><strong>Organizer:</strong> {{ event.author.username }}</p>
                </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
<script>
  $(document).ready(function () {
    // Add dashboard-top-section class to top-section
    $('.top-section').addClass('events-top-section');
  });

    $(document).ready(function () {
        $('.more-information-btn').click(function () {
        $(this).closest('.card-body').find('.additional-info').toggle();
        });
    });
</script>
{% endblock %}
