{% extends  'layout.html'%}

{% block navbar %}
    <a class="navbar-brand" href="{{ url_for('event_dashboard') }}">
        <img src="../static/images/logo.png" alt="logo_Eventify" width="100" height="65" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <button class="btn btn-outline-primary" data-toggle="modal" data-target="#createEventModal">Create Event</button>
            </li>
            <li class="nav-item active">
                <button class="btn btn-outline-primary nav-link" id="showEventsButton">Show Events</button>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link" href="{{ url_for('show_archived_events') }}">Archive</a>-->
                <button class="btn btn-outline-primary nav-link" onclick="window.location.href='{{ url_for('show_archived_events') }}'">Archive</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-primary nav-link" onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
            </li>
        </ul>
    </div>
{% endblock %}
{% block welcome_content %}
    <section class="welcome-content">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Hello {{ username }}!</h1>
                    <h2>See what's coming next</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<section>
    <div class="events-section">
        <div class="container">
            <h2 class="text-center">My Events</h2>
            {% if events %}
            <div class="row">
                {% for event in events %}
                <div class="col-md-4 mb-4">
                    <form action="{{ url_for('archive_event', event_id=event.event_id) }}" method="post"
                        class="archive-form">
                        <div class="card" style="width: 18rem; cursor: pointer;">
                            {% if event.thumbnail %}
                            <img src="{{ url_for('static', filename='images/thumbnail_pics/' + event.thumbnail) }}"
                                class="card-img-top" alt="event_image">
                            {% else %}
                            <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="event_image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ event.event_name }}</h5>
                                <p class="card-text">{{ event.event_description }}</p>
                                <a href="{{ url_for('update_event', event_id=event.event_id) }}"
                                    class="btn btn-primary">Update</a>
                                <a href="{{ url_for('delete_event', event_id=event.event_id) }}"
                                    class="btn btn-danger">Delete</a>
                                <!-- Archive Button -->
                                <button type="submit" class="btn btn-warning mt-2">Archive</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="text-center">
                <h3>No events created yet. Start creating your events Now!</h3>
                <button class="btn btn-primary" data-toggle="modal" data-target="#createEventModal">Create
                    Event</button>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% include 'create_event.html' %}
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        // Add dashboard-top-section class to top-section
        $('.top-section').addClass('dashboard-top-section');

        // Scroll to events section
        $('#showEventsButton').click(function () {
            $('html, body').animate({
                scrollTop: $('.events-section').offset().top
            }, 1000);
        });

        // Archive form submission
        $(document).ready(function () {
            $('.archive-form .card').on('click', function () {
                $(this).closest('form').submit();
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
            if (window.location.hash === '#createEventModal') {
                $('#createEventModal').modal('show');
            }

            $('#createEventForm').submit(function (event) {
                event.preventDefault();

                let formData = new FormData(this);

                fetch('/dashboard/create', {
                    method: 'POST',
                    body: formData
                })
                    .then(res => res.json())
                    .then(data => {
                        console.log('data :', data);
                        if (data.success) {
                            window.location.reload();
                        } else {
                            $('#createAlertMessage')
                                .removeClass('d-none')
                                .addClass('alert-danger')
                                .html(data.message);
                        }
                    })
                    .catch(err => {
                        $('#createAlertMessage')
                            .removeClass('d-none')
                            .addClass('alert-danger')
                            .html('An error occurred. Please try again.');
                    });
            });
        });
</script>
{% endblock %}
