<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Events</h1>
    <table>
      <tr>
        <th>Thumbnail</th>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>Event End</th>
        <th>Event Location</th>
        <th>Event Description</th>
        <th>Event Owner</th>
      </tr>
      {% for event in events %}
      <tr>
        <td>
          <img
            class="thumbnail_pic"
            src="{{ url_for('static', filename='images/thumbnail_pics/' + event.thumbnail) }}"
            alt="Thumbnail"
          />
        </td>
        <td>{{ event.event_name }}</td>
        <td>{{ event.event_date }}</td>
        <td>{{ event.event_end }}</td>
        <td>{{ event.event_location }}</td>
        <td>{{ event.event_description }}</td>
        <td>{{ event.author.username }}</td>

        {% endfor %}
      </tr>
    </table>
  </body>
</html>
