{% extends 'layout.html' %}

{% block welcome_content %}
<section class="welcome-content">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Your Event Journey Start Here</h1>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('event_dashboard', show_modal='true') }}" class="btn btn-outline-primary btn-lg">Create Yours Now</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#loginModal">Create Yours Now</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

{% include 'login.html'%}
{% include 'register.html' %}

<section>
    <div class="events-section" style="margin: 20px 20px;">
        <h2 class="text-center">Upcoming Events</h2>
        <div class="row">
                {% for event in events %}
                    {% if loop.index <= 3 %}
                    <div class="col-md-4 mb-4">
                        <form action="{{ url_for('show_events') }}" method="GET"
                            class="archive-form">
                            <div class="card" style="cursor: pointer;">
                                {% if event.thumbnail %}
                                <img src="{{ url_for('static', filename='images/thumbnail_pics/' + event.thumbnail) }}"
                                    class="card-img-top" alt="event_image">
                                {% else %}
                                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="event_image">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ event.event_name }}</h5>
                                    <p class="card-text">{{ event.event_description }}</p>
                                    <p class="card-text">Start Date: {{ event.event_date }}</p>
                                    <p class="card-text">End Date: {{ event.event_end }}</p>
                                    <p class="card-text">Location: {{ event.event_location }}</p>
                                    <p class="card-text">Organizer: {{ event.author.username }}</p>
                                    <div>
                                        <button type="submit" class="btn btn-warning mt-2">Attend</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>    
    </div>
</section>
{% endblock %}

