<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href={{ url_for('static',
    filename='css/bootstrap.min.css') }}> <link rel="stylesheet" href={{
    url_for('static', filename='styles.css') }}> <link rel="stylesheet" href={{
    url_for('static', filename='modal.css' ) }}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>Eventify</title>
  </head>

  <body>
    <div class="top-section">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          {% block navbar %}
          <a class="navbar-brand" href="{{ url_for('home') }}">
            <div class="logo">Eventify</div>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              {% if current_user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('event_dashboard') }}"
                  >Dashboard</a
                >
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('show_events') }}"
                  >Events</a
                >
              </li>
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <button
                  class="btn btn-primary"
                  onclick="window.location.href='{{ url_for('logout') }}'"
                >
                  Logout
                </button>
              </li>
              {% else %}
              <li class="nav-item">
                <button
                  class="btn btn-outline-primary"
                  data-toggle="modal"
                  data-target="#loginModal"
                >
                  Sign In
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#registerModal"
                >
                  Sign Up
                </button>
              </li>
              {% endif %}
            </ul>
          </div>
          {% endblock %}
        </nav>
      </header>

      {% block welcome_content %}{% endblock %}
    </div>

    {% block content %}{% endblock %}

    <footer class="footer-section">
      <div class="container">
        <div class="footer-top">
          <div class="contact-info">
            <h4>Contact Us</h4>
            <p><a href="#">+212 623-456-789</a></p>
          </div>
          <div class="footer-info">
            <div class="social-media">
              <h4>Follow Us</h4>
              <a href="#" target="_blank" class="social-icon">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#" target="_blank" class="social-icon">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#" target="_blank" class="social-icon">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </div>
          </div>
          <div class="address-info">
            <h3>Address</h3>
            <p>1234 Eventify Street</p>
            <p>Marrakech City 40000, Morocco</p>
          </div>
        </div>
        <div class="footer-bottom">
          <span>&copy; 2024 Eventify. All rights reserved</span>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script src="{{ url_for('static', filename='js/create_event.js') }}"></script>
    <script src="{{ url_for('static', filename='js/update_event.js') }}"></script>
    <script>
      let urlLogin = "{{ url_for('login') }}";
      let urlRegister = "{{ url_for('register') }}";
      let urlDashboard = "{{ url_for('event_dashboard') }}";
    </script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
