<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Event</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Update Event</h1>
      <form
        method="POST"
        action="{{ url_for('update_event', event_id=event_id) }}"
        enctype="multipart/form-data"
      >
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.event_name.label(class="form-label") }} {{
          form.event_name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.event_description.label(class="form-label") }} {{
          form.event_description(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.event_location.label(class="form-label") }} {{
          form.event_location(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.event_date.label(class="form-label") }} {{
          form.event_date(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.event_end.label(class="form-label") }} {{
          form.event_end(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.thumbnail.label(class="form-label") }} {{
          form.thumbnail(class="form-control-file") }}
        </div>
        <button type="submit" class="btn btn-primary">Update Event</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
